body {
    color: #FFD6A0;
    background-color: #28544B;
}

.je {
    padding-top: 10vh;
}

.ph1 {
    line-height: 0.3;
}

.a1 {
    margin-top: 4vh;
    padding: 3vh;
    font-size: 22px;
}

.fac {
    padding-top: 20vh;
    font-size: 30px;
    color: #FFD6A0;
}

.rec {
    font-size: 15px;
    color: #ACBD86;
}

pre {
    background-color: #FFD6A0;
}

#v {
    float: right;
}